<br>
  <label for="items">بحث &nbsp&nbsp</label>    
  <select name="items" >
    <option value="مواسير بلاستك 50مم">
        مواسير بلاستك 50مم
    </option>
    
    <option value="مواسير بلاستك  50مم6بار">مواسير بلاستك  50مم6بار</option><option value="مواسير بلاستك 110مم4بار">مواسير بلاستك 110مم4بار</option><option value="مواسير بلاستك  110مم6بار">مواسير بلاستك  110مم6بار</option><option value="مواسير بلاستك  110مم10بار">مواسير بلاستك  110مم10بار</option><option value="مواسير بلاستك 160مم">مواسير بلاستك 160مم</option><option value="مواسير بلاستك sn4 160مم">مواسير بلاستك sn4 160مم</option><option value="مواسير بلاستك 200مم">مواسير بلاستك 200مم</option><option value="مواسير بلاستك 250مم">مواسير بلاستك 250مم</option><option value="مواسير بلاستك 315مم">مواسير بلاستك 315مم</option><option value="مواسير بلاستك 400مم">مواسير بلاستك 400مم</option><option value="مواسير بلاستك 450">مواسير بلاستك 450</option><option value="مواسير بلاستك 600">مواسير بلاستك 600</option><option value="مواسير بلاستك 630">مواسير بلاستك 630</option><option value="مواسير بلاستك 800">مواسير بلاستك 800</option>
    <option value="مواسير بلاستك 560 6 بار 45">مواسير بلاستك 560 6 بار 45</option>
    <option value="مواسير بولي معرج 500مم">مواسير بولي معرج 500مم
    </option>
    <option value="مواسير بولي ساده 710مم">مواسير بولي ساده 710مم
    </option>
    <option value="مواسير بولي ساده 100مم">مواسير بولي ساده 100مم</option>
    <option value="مواسير بولي ساده 450مم">مواسير بولي ساده 450مم</option>
    <option value="مواسير بولي ساده 800مم">مواسير بولي ساده 800مم</option>
    <option value="مواسير بولي ساده 500مم">مواسير بولي ساده 500مم</option>


    <option value="مواسير زهر مرن 400مم">مواسير زهر مرن 400مم</option>
    <option value="مواسير زهر مرن 400مم راس وديل
    ">مواسير زهر مرن 400مم راس وديل
    </option>
    <option value="مواسير زهر مرن 600مم">مواسير زهر مرن 600مم</option>

<option value="مواسير 1 بوصة">مواسير 1 بوصة</option>
<option value="مواسير 1.5 بوصة">مواسير 1.5 بوصة</option>
    <option value="جيبولت زهر1200مم">جيبولت زهر1200مم</option>
    <option value="جيبولت زهر500مم">جيبولت زهر500مم</option>
    <option value="جيبولت زهر600مم">جيبولت زهر600مم</option>
    <option value="جيبولت 4بوصة مرحلة">جيبولت 4بوصة مرحلة</option>
    <option value="جيبولت 4بوصة مرحلتين">جيبولت 4بوصة مرحلتين</option>

    <option value="مواسير GRP 400مم">مواسير GRP 400مم</option>
    <option value="مواسير GRP 450مم">مواسير GRP 450مم</option>
    <option value="مواسير GRP 500مم">مواسير GRP 500مم</option>
    <option value="مواسير GRP 600مم">مواسير GRP 600مم</option>
    <option value="مواسير GRP 700مم">مواسير GRP 700مم</option>

    <option value="وصلة فك وتركيب 100 مم">وصلة فك وتركيب 100 مم</option>
    <option value="وصلة فك وتركيب 150 مم">وصلة فك وتركيب 150 مم</option>
    <option value="وصلة فك وتركيب 200 مم">وصلة فك وتركيب 200 مم</option>
    <option value="وصلة فك وتركيب 300 مم">وصلة فك وتركيب 300 مم</option>
    <option value="وصلة فك وتركيب 400 مم">وصلة فك وتركيب 400 مم</option>
    <option value="وصلة فك وتركيب 450 مم">وصلة فك وتركيب 450 مم</option>
    <option value="وصلة فك وتركيب 500 مم">وصلة فك وتركيب 500 مم</option>
    <option value="وصلة فك وتركيب 600 مم">وصلة فك وتركيب 600 مم</option>
    <option value="وصلة حائط 100مم">وصلة حائط 100مم</option>
    <option value="وصلة حائط 150مم">وصلة حائط 150مم</option>
    <option value="وصلة حائط 150مم 1م">وصلة حائط 150مم 1م</option>
    <option value="وصلة حائط 150مم 1م 60سم">وصلة حائط 150مم 1م 60سم</option>
    <option value="وصلة حائط 200مم">وصلة حائط 200مم</option>
    <option value="وصلة حائط 300مم">وصلة حائط 300مم</option>
    <option value="وصلة حائط 300مم 1 متر">وصلة حائط 300مم 1 متر</option>
    <option value="وصلة حائط 350مم">وصلة حائط 350مم</option>
    <option value="وصلة حائط 350مم 1م">وصلة حائط 350مم 1م</option>
    <option value="وصلة حائط 400مم">وصلة حائط 400مم</option>
    <option value="وصلة حائط 400مم 1م">وصلة حائط 400مم 1م</option>
    <option value="وصلة حائط 400مم بديلين">وصلة حائط 400مم بديلين</option>
    <option value="وصلة حائط 450مم">وصلة حائط 450مم</option>
    <option value="وصلة حائط 450مم 1 م">وصلة حائط 450مم 1م</option>
    <option value="وصلة حائط 500مم">وصلة حائط 500مم</option>
    <option value="وصلة حائط 500مم 1م">وصلة حائط 500مم 1م</option>
    <option value="وصلة حائط 600مم">وصلة حائط 600مم</option>
    <option value="وصلة حائط 600مم 1م">وصلة حائط 600مم 1م</option>
    <option value="وصلة حائط 600مم 2م">وصلة حائط 600مم 2م</option>
    <option value="وصلة حائط 700مم">وصلة حائط 700مم</option>
    <option value="وصلة حائط 700مم 1م">وصلة حائط 700مم 1م</option>
    <option value="وصلة حائط 800 مم بديلين">وصلة حائط 800 مم بديلين</option>
    <option value="وصلة حائط 800 مم راس وديل">وصلة حائط 800 مم راس وديل</option>
    <option value="وصلة حائط 900مم بفلنشات">وصلة حائط 900مم بفلنشات</option>
    <option value="وصلة حائط1400مم">وصلة حائط1400مم</option>
    <option value="جوان مواسير GRP 400مم">جوان مواسير GRP 400مم</option>
    <option value="جوان مواسير GRP 450مم">جوان مواسير GRP 450مم</option>
    <option value="جوان مواسير GRP 600مم">جوان مواسير GRP 600مم</option>
    <option value="جوان مواسير GRP 700مم">جوان مواسير GRP 700مم</option>
     <option value="جلبه GRP 400">جلبه GRP 400</option>
     <option value="جلبه GRP 600مم">جلبه GRP 600مم</option>
     <option value="جلبه GRP 700">جلبه GRP 700</option>
     <option value="جلبة اللحام 1 بوصة">جلبة اللحام 1بوصة</option>
     <option value="جلبة اللحام 1.5 بوصة">جلبة اللحام 1.5 بوصة</option>
     
<option value="محبس سكينه 100مم">محبس سكينه 100مم</option>
<option value="محبس سكينه 150مم">محبس سكينه 150مم</option>
<option value="محبس سكينه 300مم">محبس سكينه 300مم</option>
<option value="محبس سكينه 350مم">محبس سكينه 350مم</option>
<option value="محبس سكينه 400مم">محبس سكينه 400مم</option>
<option value="محبس سكينه 450مم">محبس سكينه 450مم</option>
<option value="محبس سكينه 500مم">محبس سكينه 500مم</option>
<option value="محبس سكينه 600مم">محبس سكينه 600مم</option>
<option value="محبس سكينه 600مم">محبس سكينه 600مم</option>
<option value="مسلوب بولي 500/560">مسلوب بولي 500/560</option>
<option value="مسلوب بولي 450/500">مسلوب بولي 450/500</option>
<option value="مشترك pvc 250/25 مم">مشترك pvc 250/25 مم</option>
<option value="مشترك pvc 250 مم">مشترك pvc 250 مم</option>
<option value="مشترك pvc 315 مم">مشترك pvc 315 مم</option>
<option value="كوع pvc  100 مم بديلين">كوع pvc  100 مم بديلين</option>
<option value="كوع  pvc  250/90مم راس وديل">كوع  pvc  250/90مم راس وديل</option>
<option value="كوع  pvc  350/45 راس وديل">كوع  pvc  350/45مم راس وديل</option>
<option value="كوع  pvc  450/45 ">كوع  pvc  450/45مم </option>
<option value="كوع  pvc  350/45 ">كوع  pvc  350/45مم </option>
<option value="كوع pvc 315/90">كوع pvc 315/90</option>
<option value="كوع بلاستك 560/45 6بار">كوع بلاستك 560/45 6بار</option>
<option value="كوع بلاستك 2بوصة">كوع بلاستك 2بوصة</option>
<option value="كوع اللحام 1 بوصة">كوع اللحام 1بوصة</option>
<option value="كوع اللحام 1.5 بوصة">كوع اللحام 1.5 بوصة</option>

<option value=" pvc  90/100مم براسين">كوع  pvc  90/100مم براسين</option>
<option value=" pvc  90/100مم بديلين">كوع  pvc  90/100مم بديلين</option>
<option value=" pvc  90/100مم راس وديل">كوع  pvc  90/100مم راس وديل</option>
<option value="برده pvc راس وديل 350 مم">برده pvc راس وديل 350 مم</option>
<option value="برده pvc راس وديل 200 مم">برده pvc راس وديل 200 مم</option>
<option value="برده pvc راس وديل 450 مم">برده pvc راس وديل 450 مم</option>
<option value="برده pvc فلانشة وراس 450 مم">برده pvc فلانشة وراس 450 مم</option>
<option value="برده pvc 250">برده pvc 250</option>
<option value="طبه حديد 150مم">طبه حديد 150مم</option>
<option value="طبه حديد 300مم">طبه حديد 300مم</option>
<option value="طبه حديد 400مم">طبه حديد 400مم</option>
<option value="طبه حديد 500مم">طبه حديد 500مم</option>
<option value="طبه حديد 700مم">طبه حديد 700مم</option>
<option value="طبه حديد 1200مم">طبه حديد 1200مم</option>
<option value="طبه تجارب بالبرده">طبه تجارب بالبرده</option>
<option value="درج سلم زهر">درج سلم زهر</option>
<option value="درج سلم حديد">درج سلم حديد</option>
<option value="قمط حديد">قمط حديد</option>
<option value="مواسير حديد200مم">مواسير حديد200مم</option>
<option value="غطاء GRP 60 سم">غطاء GRP 60 سم</option>
<option value="غطاء GRP 70 سم">غطاء GRP 70 سم</option>
<option value="غطاء GRP 76 سم">غطاء GRP 76 سم</option>
<option value="غطاء GRP 60*60">غطاء GRP 60*60</option>

<option value="غطاء بدون شنبر60سم">غطاء بدون شنبر60سم</option>
<option value="بردورة رصيف">بردورة رصيف</option>
<option value="خيش عزل">خيش عزل</option>
<option value="ووتر استوب">ووتر استوب</option>
<option value="بيتومبين">بيتومين</option>
<option value="كوع جزمه 200م">كوع جزمه 200م</option>
<option value="كوع جزمه 300م">كوع جزمه 300م</option>
<option value="كوع جزمه 350م">كوع جزمه 350م</option>
<option value="كوع جزمه 450م">كوع جزمه 450م</option>
<option value="كوع جزمه 400م">كوع جزمه 400م</option>
<option value="كوع جزمه 500م">كوع جزمه 500م</option>
<option value="كوع جزمه 600م">كوع جزمه 600م</option>
<option value="كوع زهر 90/100">كوع زهر 90/100</option>
<option value="كوع زهر 100/100">كوع زهر 100/100</option>
<option value="كوع زهر 90/150">كوع زهر 90/150</option>
<option value="كوع زهر 90/500">كوع زهر 90/500</option>
<option value="كوع زهر 90/250">كوع زهر 90/250</option>
<option value="كوع زهر 90/300">كوع زهر 90/300</option>
<option value="كوع زهر 90/350">كوع زهر 90/350</option>
<option value="كوع زهر 90/400">كوع زهر 90/400</option>
<option value="كوع زهر 90/450">كوع زهر 90/450</option>
<option value="كوع زهر 90/500">كوع زهر 90/500</option>
<option value="كوع زهر 90/600">كوع زهر 90/600</option>
<option value="كوع زهر 90/700">كوع زهر 90/700</option>
<option value="كوع زهر 45/150">كوع زهر 45/150</option>
<option value="كوع زهر 45/200">كوع زهر 45/200</option>
<option value="كوع زهر 45/300">كوع زهر 45/300</option>
<option value="كوع زهر 22.5/400">كوع زهر 22.5/400</option>
<option value="كوع زهر 45/450">كوع زهر 45/450</option>
<option value="كوع زهر 45/500">كوع زهر 45/500</option>
<option value="كوع زهر 45/600">كوع زهر 45/600</option>
<option value="شفاط كهرباء 50*50">شفاط كهرباء 50 *50</option>
<option value="شفاط كهرباء 65*65">شفاط كهرباء 65 *65</option>
<option value="شفاط كهرباء 35*35">شفاط كهرباء 35*35</option>
<option value="شفاط كهرباء 30*30">شفاط كهرباء 30 *30</option>
<option value="شفاط كهرباء دائري">شفاط كهرباء دائري</option>
<option value="فلانشه حديد 100مم">فلانشه حديد 100مم</option>
<option value="فلانشه حديد 200مم">فلانشه حديد 200مم</option>
<option value="فلانشه حديد 250مم ثابت">فلانشه حديد 250مم ثابت</option>
<option value="فلانشه حديد 300مم متحرك">فلانشه حديد 300مم متحرك</option>
<option value="فلانشه حديد 450مم">فلانشه حديد 450مم</option>
<option value="فلانشه حديد 500مم">فلانشه حديد 500مم</option>
<option value="فلانشه حديد 700مم">فلانشه حديد 700مم</option>
<option value="فلانشه حديد 1200مم">فلانشه حديد 1200مم</option>
<option value="لوح فوم 5*1*2">لوح فوم 5*1*2</option>
<option value="دعامه مكابل">دعامه مكابل</option>
 <option value="قفص مكابل ">قفص مكابل </option>
<option value="سافيتو">سافيتو</option>
<option value="محبس عدم رجوع100مم">محبس عدم رجوع100مم</option>
<option value="محبس عدم رجوع300مم">محبس عدم رجوع300مم</option>
<option value="محبس عدم رجوع400مم">محبس عدم رجوع400مم</option>
<option value="محبس عدم رجوع500مم">محبس عدم رجوع500مم</option>
<option value="محبس عدم رجوع600مم">محبس عدم رجوع600مم</option>
<option value="محبس هواء 100مم">محبس هواء 100مم</option>
<option value="محبس هواء 150مم">محبس هواء 150مم</option>
<option value="محبس هواء 200">محبس هواء 200مم</option>
<option value="وصلة اتصال 100مم">وصلة اتصال 100مم</option>
<option value="وصلة اتصال 100مم 1م">وصلة اتصال 100مم 1م</option>
<option value="وصلة اتصال 100مم 60سم">وصلة اتصال 100مم 60سم</option>
<option value="وصلة اتصال 100مم 50سم">وصلة اتصال 100مم 50سم</option>
<option value="وصلة اتصال 150مم">وصلة اتصال 150مم</option>
<option value="وصلة اتصال 150مم 1م">وصلة اتصال 150مم 1م</option>
<option value="وصلة اتصال 150مم 60سم">وصلة اتصال 150مم 60سم</option>

<option value="وصلة اتصال 150مم 50سم">وصلة اتصال 150مم 50سم</option>
<option value="وصلة اتصال 150مم 40سم">وصلة اتصال 150مم 40سم</option>
<option value="وصلة اتصال 150مم 20سم">وصلة اتصال 150مم 20سم</option>
<option value="وصلة اتصال 200مم 1م">وصلة اتصال 200مم 1م</option>
<option value="وصلة اتصال 200مم 20سم">وصلة اتصال 200مم 20سم</option>
<option value="وصلة اتصال 250مم">وصلة اتصال 250مم</option>
<option value="وصلة اتصال 250مم 1م">وصلة اتصال 250مم 1م</option>
<option value="وصلة اتصال 250مم 50سم">وصلة اتصال 250مم 50سم</option>
<option value="وصلة اتصال 300مم">وصلة اتصال 300مم</option>
<option value="وصلة اتصال 300مم 30سم">وصلة اتصال 300مم 30سم</option>
<option value="وصلة اتصال 300مم 1م">وصلة اتصال 300مم 1م</option>
<option value="وصلة اتصال 300مم 70سم">وصلة اتصال 300مم 70سم</option>
<option value="وصلة اتصال 300مم 80سم">وصلة اتصال 300مم 80سم</option>
<option value="وصلة اتصال 300مم 2م">وصلة اتصال 300مم 2م</option>
<option value="وصلة اتصال 350مم">وصلة اتصال 350مم</option>
<option value="وصلة اتصال 350مم 2م">وصلة اتصال 350مم 2م</option>
<option value="وصلة اتصال 350مم 1م">وصلة اتصال 350مم 1م</option>
<option value="وصلة اتصال 350مم 50سم">وصلة اتصال 350مم 50سم</option>
<option value="وصلة اتصال 350مم 30سم">وصلة اتصال 350مم 30سم</option>
<option value="وصلة اتصال 400مم 1 م">وصلة اتصال 400مم 1م</option>
<option value="وصلة اتصال 400مم 2م">وصلة اتصال 400مم 2م</option>
<option value="وصلة اتصال 400مم بديلين">وصلة اتصال 400مم بديلين</option>
<option value="وصلة اتصال 450مم">وصلة اتصال 450مم</option>
<option value="وصلة اتصال 450مم 1.5م">وصلة اتصال 450مم 1.5م</option>
<option value="وصلة اتصال 450مم 1م">وصلة اتصال 450مم  1م</option>
<option value="وصلة اتصال 450مم">وصلة اتصال 450مم</option>
<option value="وصلة اتصال 500مم">وصلة اتصال 500مم</option>
<option value="وصلة اتصال 500مم 1م">وصلة اتصال 500مم 1م</option>
<option value="وصلة اتصال 500مم 50سم">وصلة اتصال 500مم 50سم</option>
<option value="وصلة اتصال 500مم 1.75م">وصلة اتصال 500مم 1.75م</option>
<option value="وصلة اتصال 600مم">وصلة اتصال 600مم</option>
<option value="وصلة اتصال 600م  ,5م">وصلة اتصال 600م  ,5م</option>
<option value="وصلة اتصال 600م  2م">وصلة اتصال 600م  2م</option>
<option value="وصلة اتصال 600م  1م">وصلة اتصال 600م  1م</option>
<option value="وصلة اتصال 600م  1.6م">وصلة اتصال 600م  1.6م3</option>
<option value="وصلة اتصال 600م  50سم">وصلة اتصال 600م  50سم</option>
<option value="مشترك زهر 100/300">مشترك زهر 100/300</option>
<option value="مشترك زهر 150/300">مشترك زهر 150/300</option>
<option value="مشترك زهر 100/350">مشترك زهر 100/350</option>
<option value="مشترك زهر 100/400">مشترك زهر 100/400</option>
<option value="مشترك زهر 100/450">مشترك زهر 100/450</option>
<option value="مشترك زهر 100/600">مشترك زهر 100/600</option>
<option value="مشترك زهر 150/400">مشترك زهر 150/400</option>
<option value="مشترك زهر 150/450">مشترك زهر 150/450</option>
<option value="مشترك زهر 150/600">مشترك زهر 150/600</option>
<option value="مشترك زهر 150/700">مشترك زهر 150/700</option>
<option value="مشترك زهر 300/400">مشترك زهر 300/400</option>
<option value="مشترك زهر 300/500">مشترك زهر 300/500</option>
<option value="مشترك زهر 100/500">مشترك زهر 100/500</option>
<option value="مشترك زهر 150/500">مشترك زهر 150/500</option>
<option value="مشترك زهر 300/400">مشترك زهر 300/400</option>
<option value="مشترك زهر 100/100">مشترك زهر 100/100</option>
<option value="مشترك زهر 150/150">مشترك زهر 150/150</option>
<option value="مشترك زهر 350/500">مشترك زهر 350/500</option>
<option value="مشترك زهر 500/600">مشترك زهر 500/600</option>
<option value="مشترك زهر 400/600">مشترك زهر 400/600</option>
<option value="كوع GRP 11.25/450">كوع GRP 11.25/450</option>
<option value="كوع GRP 22.5/450">كوع GRP 22.5/450</option>
<option value="كوع GRP 45/400">كوع GRP 45/400</option>
<option value="كوع GRP 45/450">كوع GRP 45/450</option>
<option value="كوع GRP 45/500">كوع GRP 45/500</option>
<option value="كوع GRP 45/600">كوع GRP 45/600</option>
<option value="كوع GRP 90/500">كوع GRP 90/500</option>
<option value="كوع GRP 45/600">كوع GRP 45/600</option>
<option value="برده GRP 400مم">برده GRP 400 مم </option>
<option value="برده GRP 450مم">برده GRP 450 مم </option>
<option value="برده GRP 500مم">برده GRP 500 مم </option>
<option value="برده بولي 400مم">برده بولي 400مم</option>
<option value="برده بولي 450مم">برده بولي 450مم</option>
<option value="برده بولي 500مم">برده بولي 500مم</option>
<option value="برده بولي 560مم">برده بولي 560مم</option>
<option value="برده بولي 700مم">برده بولي 700مم</option>
<option value="بردة زهر 100مم راس">بردة زهر 100مم راس</option>
<option value="بردة زهر 100مم راس وفلانشة">بردة زهر 100مم راس وفلانشة</option>
<option value="بردة زهر 100مم راس ووش">بردة زهر 100مم راس ووش</option>
<option value="بردة زهر 200مم">بردة زهر 200مم</option>
<option value="بردة زهر 315مم راس ووش">بردة زهر 315مم راس ووش</option>
<option value="بردة زهر 315مم فلانشة وراس">بردة زهر 315مم فلانشة وراس</option>
 <option value="بردة زهر 400مم وش وديل">بردة زهر 400مم وش وديل</option>
 <option value="بردة زهر 700مم وش وديل">بردة زهر 700مم وش وديل</option>
 <option value="بردة زهر 700مم راس ووش">بردة زهر 700مم راس ووش</option>
 <option value="بردة زهر 900مم راس ووش">بردة زهر 900مم راس ووش</option>
 <option value="بردة زهر 900مم وش وديل">بردة زهر 900مم وش وديل</option>
 <option value="بردة زهر 560 مم وش وراس">بردة زهر 560 مم وش وراس</option>
 <option value="بردة زهر 560 مم">بردة زهر 560 مم</option>
<option value="لوحة تحكم">لوحة تحكم</option>
<option value="لوحة كهرباء">لوحة كهرباء</option>
<option value="جهاز قياس منسوب">جهاز قياس منسوب</option>
<option value="جهاز منسوب">جهاز منسوب</option>
<option value="جهاز قياس ضغط">جهاز قياس ضغط</option>
<option value="جهاز قياس صرف">جهاز قياس صرف</option>
<option value="جهاز MBS">جهاز MBS</option>
<option value="بطارية">بطارية</option>

<option value="لوح صاج">لوح صاج</option>
<option value="زاويه 10 سم">زاويه 10 سم</option>
<option value="زاويه 8 سم">زاويه 8 سم</option>
<option value="زاويه 6 سم">زاويه 6 سم</option>
<option value="زاويه 5 سم">زاويه 5 سم</option>
<option value="كمر">كمر</option>
<option value="كمر ونش">كمر ونش</option>
<option value="كمر 8سم">كمر 8سم</option>
<option value="كمرة قطاع 1p 5 م">كمرة قطاع 1p 5 م</option>
<option value="كمرة قطاع 1p 4 م">كمرة قطاع 1p 4 م</option>
<option value="خوصه 6سم">خوصه 6سم</option>
<option value="ونش حمولة 3 طن">ونش حمولة 3 طن</option>
<option value="ونش حمولة 2 طن">ونش حمولة 2 طن</option>

<option value="مولد كهرباء">مولد كهرباء</option>
<option value="خزان وقود ">خزان وقود </option>
<option value="خزان وقود  4م3">خزان وقود  4م3</option>


<option value="محرك كهربائي">محرك كهربائي</option>
<option value="محرك كهرباء 64 حصان">محرك كهرباء  64حصان</option>
<option value="محرك كهرباء 120 حصان">محرك كهرباء  120 حصان</option>
<option value="لمبه ليد 9وات">لمبه ليد 9وات</option>

<option value="بوابه استايلس">بوابه استايلس</option>
<option value="طلمبة نزح غاطس">طلمبة نزح غاطس</option>
<option value="كشاف اناره">كشاف اناره</option>
<option value="مصفاه استانلس">مصفاه استانلس</option>
<option value="فوم   2*1">فوم   2*1</option>
<option value="صاج مجلفن 300مم">صاج مجلفن 300مم</option>
<option value="سلم حديد 6م">سلم حديد 6م</option>
<option value="كابل 10*4">كابل 10*4</option>
<option value="كابل 50+95*3">كابل 50+95*3</option>
<option value="كابل 6*4">كابل 6*4</option>
      <option value="كابل 150+300*3">كابل 150+300*3</option>
      <option value="كابل 50+35*3">كابل 50+35*3</option>
     <option value="كابل 95+185*3">كابل 95+185*3 </option>
       <option value="كابل70+120*3">كابل 70+120*3</option>
       <option value="كابل  70+150*3">كابل  70+150*3</option>
     <option value="كابل 120+240*3">كابل 120+240*3</option>
      <option value="كابل ترمو 4*4">كابل ترمو 4*4</option>
      <option value="كابل ترمو 3*10">كابل ترمو 3*10</option>
      <option value="كابل ترمو 3*4">كابل ترمو 3*4</option>
      <option value="كابل ترمو 4*16">كابل ترمو 4*16</option>
         <option value="كابل 6*3">كابل 6*3</option>
        <option value="كابل 2.5*4">كابل 2.5*4</option>
      <option value="كابل 4*3">كابل 4*3</option>
      <option value="كابل 16*4">كابل 16*4</option>
        <option value="كابل 35*4">كابل 35*4</option>
       <option value="سلك معزول 2.5مم">سلك معزول 2.5مم</option> 
<option value="سلك معزول 3مم   ">سلك معزول 3مم   </option>
<option value="سلك معزول 4مم  ">سلك معزول 4مم  </option>
<option value="سلك معزول 6مم  ">سلك معزول 6مم  </option>
<option value="سلك معزول 10مم">سلك معزول 10مم</option>                
<option value="سلك معزول 16مم">سلك معزول 16مم</option>
<option value="سلك معزول 70مم">سلك معزول 70مم</option>
  
<option value="سلك معزول 3*3">سلك معزول 3*3</option>
<option value="سلك معزول 1*2">سلك معزول 1*2</option>

<option value="مواسير PvC بديلين 200مم">مواسير PvC بديلين 200مم</option>
<option value="مواسير PvC بديلين 300مم">مواسير PvC بديلين 300مم</option>
<option value="مواسير PvC بديلين 400مم">مواسير PvC بديلين 400مم</option>
<option value="مواسير PvC بديلين 800مم">مواسير PvC بديلين 800مم</option>
<option value="مواسير pvc كسر 200مم">مواسير pvc كسر 200مم</option>

<option value="مواسير pvc كسر 280مم">مواسير pvc كسر 280مم</option>
<option value="مواسير pvc كسر 315مم">مواسير pvc كسر 315مم</option>
<option value="مواسير pvc كسر 400مم">مواسير pvc كسر 400مم</option>

<option value="مسمار بالصامولة 41مم">مسمار بالصامولة 41مم</option>
<option value="مسمار بالصامولة 32مم 15سم">مسمار بالصامولة 32مم 15سم</option>
<option value="مسمار بالصامولة 30مم 10سم">مسمار بالصامولة 30مم 10سم</option>
<option value="مسمار بالصامولة 36مم 10سم">مسمار بالصامولة 36مم 10سم</option>
<option value="مسمار بالصامولة 32مم 10سم">مسمار بالصامولة 32مم 10سم</option>
<option value="مسمار بالصامولة 27مم 10سم">مسمار بالصامولة 27مم 10سم</option>


<option value="مسماربالصاموله30">مسماربالصاموله30</option>
<option value="مسماربالصاموله مقاسات  10* 8/7">مسماربالصاموله مقاسات  10* 8/7</option>

<option value="جوان زهر مرن 700مم">جوان زهر مرن 700مم</option>
<option value="جوان زهر مرن 900مم">جوان زهر مرن 900مم</option>

<option value="جوان بردات  GRP 400مم">جوان بردات  GRP 400مم</option>
<option value="جوان بردات  GRP 450مم">جوان بردات  GRP 450مم</option>
<option value="جوان بردات  GRP 500مم">جوان بردات  GRP 500مم</option>
<option value="جوان بردات  GRP 600مم">جوان بردات  GRP 600مم</option>
<option value="جوان مبطط 100مم">جوان مبطط 100مم</option>
<option value="جوان مبطط 150مم">جوان مبطط 150مم</option>
<option value="جوان بطط 200مم">جوان بطط 200مم</option>
<option value="جوان مبطط 250مم">جوان مبطط 250مم</option>
<option value="جوان مبطط 300مم">جوان مبطط 300مم</option>
<option value="جوان مبطط 350مم">جوان مبطط 350مم</option>
<option value="جوان مبطط 400مم">جوان مبطط 400مم</option>
<option value="جوان مبطط 450مم">جوان مبطط 450مم</option>
<option value="جوان مبطط 500مم">جوان مبطط 500مم</option>
<option value="جوان مبطط 600مم">جوان مبطط 600مم</option>
<option value="جوان مبطط 700مم">جوان مبطط 700مم</option>
<option value="جوان مبطط 800مم">جوان مبطط 800مم</option>
<option value="جوان مبطط 900مم">جوان مبطط 900مم</option>
<option value="سيكا جراون214">سيكا جراون214</option>
<option value="سيكا جراون 107">سيكا جراون 107</option>
<option value="كيس سيكا توب">كيس سيكا توب</option>
<option value="اكوا مورتر">اكوا مورتر</option>
<option value="ادبيون">ادبيون</option>
<option value="بلموث">بلموث</option>
<option value="بلموث 600مم">بلموث 600مم</option>
<option value="انتر بلاست">انتر بلاست</option>
<option value="مواسير فخار    500مم">مواسير فخار    500مم</option>
<option value="مواسير فخار   600مم">مواسير فخار   600مم</option>
<option value="مواسير فخار   700مم">مواسير فخار   700مم</option>
<option value="مواسير فخار   800مم">مواسير فخار   800مم</option>
<option value="مواسير فخار كسر    500مم">مواسير فخار كسر    500مم</option>
<option value="مواسير فخار كسر   600مم">مواسير فخار كسر   600مم</option>
<option value="مواسير فخار كسر   700مم">مواسير فخار كسر   700مم</option>
<option value="مواسير فخار كسر   800مم">مواسير فخار كسر   800مم</option>
<option value="بريزه 1/4">بريزه 1/4</option>
<option value="بريزة 1.5">بريزة1.5</option>
<option value="وصله جرس 400مم">وصله جرس 400مم</option>
<option value="وصله جرس 600مم">وصله جرس 600مم</option>
<option value="اسمنت">اسمنت</option>
<option value="اسمنت سي وتر">اسمنت سي وتر</option>
<option value="مسلوب مركزي 200/350">مسلوب مركزي 200/350</option>
<option value="مسلوب مركزي 300/400">مسلوب مركزي 300/400</option>
<option value="مسلوب مركزي 600/500">مسلوب مركزي 600/500</option>
<option value="مسلوب مركزي 150/300">مسلوب مركزي 150/300</option>
<option value="مسلوب مركزي 300/500">مسلوب مركزي 300/500</option>
<option value="مسلوب مركزي 300/600">مسلوب مركزي 300/600</option>
<option value="مسلوب لامركزي200/400">مسلوب لامركزي200/400</option>
<option value="مسلوب لامركزي300/600">مسلوب لامركزي300/600</option>
<option value="مسلوب لامركزي500/600">مسلوب لامركزي500/600</option>
<option value="مسلوب لامركزي300/500">مسلوب لامركزي300/500</option>
<option value="مسلوب لامركزي200/350">مسلوب لامركزي200/350</option>
<option value="مسلوب لامركزي200/300">مسلوب لامركزي200/300</option>
<option value="طلمبة غاطس">طلمبة غاطس</option>
<option value="طلمبة غاطس كبيرة">طلمبة غاطس كبيرة</option>
<option value="طلمبة رأسية كبيرة">طلمبة رأسية كبيرة</option>
<option value="طلمبة مجاري">طلمبة مجاري</option>
<option value="بلانك 1طن ">بلانك 1طن</option>
<option value="بلانك 1طن ترفع9م">بلانك 1طن ترفع9م</option>
<option value="بلانك 1طن ترفع7م">بلانك 1طن ترفع7م</option>
<option value="ترولي 2طن">ترولي 2طن</option>
<option value="ترولي1طن">ترولي1طن</option>
<option value="مسمار 27مم">مسمار 27مم</option>
<option value="مسمار 41مم">مسمار 41مم</option>
<option value="مسمار 30مم">مسمار 30مم</option>
<option value="مسمار 36مم">مسمار 36مم</option>
<option value="مسمار 24مم">مسمار 24مم</option>
<option value="مسمار 32مم">مسمار 32مم</option>
<option value="مسمار 32مم طول15">مسمار 32مم طول15</option>
<option value="مسمار اكمن 12">مسمار اكمن 12</option>
<option value="مسمار اكمن 16">مسمار اكمن 16</option>
<option value="مسمار اكمن 20">مسمار اكمن 20</option>
<option value="بلاط انترلوك">بلاط انترلوك</option>
<option value="بلاط مزايكو 25*25">بلاط مزايكو 25*25</option>
<option value="بلاط سيراميك 32.5 *47.5">بلاط سيراميك 32.5 *47.5</option>
<option value="بلاط سيراميك 25*35">بلاط سيراميك 25*35</option>
<option value="اديبوند">اديبوند</option>
<option value="سيكا انجكشن(مجموعه)">سيكا انجكشن(مجموعه)</option>

<option value="حديد تسليح">حديد تسليح</option>
<option value="حديد تسليح 12مم">حديد تسليح 12مم</option>
<option value="حديد تسليح 16مم">حديد تسليح 16مم</option>
<option value="حديد تسليح 22مم">حديد تسليح 22مم</option>
<option value="اخشاب 7*2.5">اخشاب 7*2.5</option>
<option value="اخشاب 8*2.5">اخشاب 8*2.5</option>
<option value="اخشاب 7*2">اخشاب 7*2</option>
<option value="اخشاب 2,5*6">اخشاب 2,5*6</option>
<option value="عروق مستعمله">عروق مستعمله</option>
<option value="موسكي مستعمل">موسكي مستعمل</option>
<option value="بنطي  قصاير مستعمل">بنطي  قصاير مستعمل</option>
<option value="لتزانه مستعمل">لتزانه مستعمل</option>
<option value="زرجينه مائيه">زرجينه مائيه</option>
<option value="زرجينه مائيه130سم">زرجينه مائيه130سم</option>
<option value="زرجينه مائيه60سم">زرجينه مائيه60سم</option>
<option value="زرجينه مائيه50سم">زرجينه مائيه50سم</option>
<option value="شداد">شداد</option>
<option value="بلشه 10*10">بلشه 10*10</option>
<option value="بلشه 25*25">بلشه 25*25</option>
<option value="بلشه حديد 25*25">بلشه حديد 25*25</option>
<option value="بلشه حديد 8*12">بلشه حديد 8*12</option>
<option value="جاويط 60سم">جاويط 60سم</option>
<option value="جاويط 50سم">جاويد 50سم</option>
<option value="كون بلاستيك">كون بلاستيك</option>
<option value="لفه خرطوم حراري">لفه خرطوم حراري</option>
<option value="لفه خرطوم23">لفه خرطوم23</option>
<option value="لفه خرطوم16">لفه خرطوم16</option>
<option value="لفه سوسته">لفه سوسته</option>
<option value="قفيز حديد 300م">قفيز حديد 300م</option>
<option value="مواسير حديد 4 بوصة">مواسير حديد 4 بوصة</option>
<option value="كولية بدون بريزة 1/4">كولية بدون بريزة 1/4</option>
<option value="كوع حديد بديلين">كوع حديد بديلين</option>
<option value="كوع حديد 1بوصة">كوع حديد 1بوصة</option>
<option value="كوع حديد 1.5بوصة">كوع حديد 1.5بوصة</option>
<option value="شكاير بربمكس">شكاير بربمكس</option>
<option value="جلوت 40وات">جلوت 40وات</option>
<option value="عمود انارة شوارع">عمود انارة شوارع</option>
<option value="جلند بلاستيك 21">جلند بلاستيك 21</option>
<option value="جلند بلاستيك 25">جلند بلاستيك 25</option>
<option value="جيب كرين">جيب كرين</option>
<option value="اللاكور">اللاكور</option>
<option value="اللاكور">اللاكور</option>
<option value="اللاكور 1 بوصة">اللاكور 1 بوصة</option>
<option value="اللاكور 1.5 بوصة">اللاكور 1.5 بوصة</option>
<option value="وش سد 4 بوصة">وش سد 4 بوصة</option>
<option value="دوشم 1بوصة">دوشم 1بوصة</option>
<option value="دوشم 1.5بوصة">دوشم 1.5بوصة</option>
<option value="دوشم 1.5بوصة">دوشم 1.5بوصة</option>
<option value="جرويد سيكا 214">جرويد سيكا 214</option>
<option value="جرويد سيكا 106">جرويد سيكا 106</option>
  </select>
