<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اضافة رصيد الى المخزن</title>
</head>
<body>
   
    
    <%- include('./storelisting'); -%>
    <p style="margin-left:130px;color:brown;">فشل في العملية
    رجاء مراعاة اضافة كمية و عدم تكرار اضافة رصيد في قاعدة بيانات الجرد
    </p>
</body>
</html>