<html lang="en" >
<head>
    <!-- <meta charset="UTF-8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>اضافة بيان</title>
    <link rel="stylesheet" href="./css/style.css"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"><script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   
</script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script data-ad-client="ca-pub-8922639490719675" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
  
    
    
    <br><br><br>

    <h1 style="color: black;margin-left: 10px;font-size: medium;font-family: Georgia, 'Times New Roman', Times, serif;"> Welcome Back <%= users["username"] %></h1>

<form action="/search" method="post" id="post">
   

    
      
      <%- include('./partials/chooseitem'); -%>
   

<br><input class="btn btn-primary" type="submit" value="بحث" id="submit"> <button class="btn btn-danger" > <a style="text-decoration: none;color: bisque;" href="/refunditems">مرتجع</a></button>

</form>
<style>


label{
width: 130px;


}
#submit{
margin-left: 60px;

}
form{
margin-left: 90px;

}
</style>
<Script>
    
// document.getElementById("post").addEventListener("click", function(event){
//   event.preventDefault()
// });


/**
Select options object for state and city select elements and relationship
*/
const selectOptions = [
    {
        name: "مخازن",
        cities: [
        "",
        "بني مزار الرئيسي",
            "مخزن دمشير",
            "مخزن سلاقوس",
            "مخزن طوخ الخيل",
            "مخزن ابشاق",
            "مخزن بردنوها",
            "مخزن شلقام",
            "مخزن جبل الطير",
            "مخزن دمشاو",
            "مخزن بني سعيد",
            "ابوجرج",
            "بردنوها",
            "ابوان",
            "دمشير",
            "سلاقوس",
            "شلقام",
            "نزلة جلف",
            "السعدية",
            "بني سعيد",
            'طوخ الخيل',
            "دمشاو"

        ],
    },
    {
        name: "مقاول",
        cities: [
            "عمر حامد",
            "حنا فرج",
            "سعد ابوالروس",
            "احمد سليمان",
            "مخيمر",
            "سامح ابوالدهب",
            "ذكريا",
            "اسامة عباس",
            "علاء محمود",
            "اسلام ضمراني",
            "عبدالعال راضي",
            "رامي ثابت",
            "بكر عبدالراضي",
            "عبدالوهاب احمد",
            "عبدالرحمن محمود",
            "احمد ناجي",
            "عبدالرحمن محمود",
            "شعبان الازهري",
            "محمود صلاح",
            "محمد عبدالظاهر",
            "بيشوي نعيم"

        ],
    },
];


/**
Create an option element
@param {string} value - Option value
@return {Element} - option element
*/
function createOption(value) {
    const opt = document.createElement('option');
    const textNode = document.createTextNode(value);
    opt.appendChild(textNode);
    opt.value = value;
    return opt;
}

/**
Create options with Select
@param {string} selectId - parent of options
@param {array} options - arrays of options
*/
function createOptionsSelect(selectId, options) {
    const select = document.getElementById(selectId);

    // clear all previous options 
    select.innerHTML = '';
    
    for(let i=0;i<options.length;i++) {
        select.appendChild(options[i]);
    }    
}

/**
 * Retrieve state values from selectOptions
 * @return {array} state values
 */
function getSelectOptionsStates() {
    return selectOptions.map(value => value.name);
}

/**
 * Retrieve cities - values from selectOptions
 * @param {string} state - selected state
 * @return {array} - state cities
 */
function getSelectOptionsCities(selectstore) {
    return selectOptions
            .filter(value => value.name===selectstore)
            .map(val => val.cities)[0];
}

/**
 * Create select id=state with all the state options
 */
function createStateSelect() {
    const states = getSelectOptionsStates();
    const stateOptions = selectstore.map(selectstore => createOption(selectstore));
    createOptionsSelect('selectstore', stateOptions);
}

/**
 * Create select id=state with all the city options
 */
function createStateSelect() {
    const states = getSelectOptionsStates();
    const options = states.map(selectstore => createOption(selectstore));
    createOptionsSelect('selectstore', options);
}

/**
 * Create select id=city with all the city options
 * @param {string} stateId - selected state Id
 */
function createCitySelect(stateId) {
    const cities = getSelectOptionsCities(stateId);
    const options = cities.map(city => createOption(city));
    createOptionsSelect('contractor', options);
}

/**
 * onChange event trigger for state select 
 */
function onSelectState() {
    const selectedState = document.getElementById('selectstore').value;
    createCitySelect(selectedState);
}

/**
 * onload callback
 */
function init() {
    // Default state select
    const selectedStateDefault = 'selectstore';

    // console.log(getSelectOptionsStates());
    // console.log(getSelectOptionsCities('state3'));

    document.getElementById('selectstore').addEventListener('change', (e) => onSelectState(e), false);

    createStateSelect();
    createCitySelect(selectedStateDefault);
}

onload = init;

if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}


</Script>
</body>
</html>