<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اضافة رصيد الى المخزن </title>
    <link rel="stylesheet" href="./css/style.css"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"><script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</script>
</head>
<body>


    <%- include('./partials/header'); -%>

    <form action="/carinsert" method="post">

<label>التاريخ</label><input  type="text" name="date" id="" placeholder="التاريخ"><br>
<label>السائق</label><input  type="text" name="driver" id="" placeholder="السائق"><br>
<label>من</label><input  type="text" name="from" id="" placeholder="من"><br>
<label>الى</label><input  type="text" name="to" id="" placeholder="الى"><br>
<label>المهام</label><input  type="text" name="items" id="" placeholder="المهام"><br>
<label>المقاول</label><input  type="text" name="contractor" id="" placeholder="المقاول"><br>
<label>مكان التعتيق</label><input  type="text" name="location" id="" placeholder="مكان التعتيق"><br>
<input type="submit" value="ارسال">
</form>
<style>


label{
width: 110px;


}
#submit{
margin-left: 60px;

}
form{
margin-left: 100px;

}

    </style>
    
    </form>
</body>
</html>